@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #43aefc;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100vh;
  display: flex;
}
.start {
  background-color: #fff;
  width: max-content;
  margin: auto;
  box-shadow: 1px 1px 10px 10px #3ba5f4;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.p-3 {
  padding: 20px;
}


h1 {
  font-size: 16px;
  text-align: left;
  color: #43aefc;
  margin: 0;
  font-family: poppins;
}

.card-top{
  padding: 0px 20px;
  border-bottom: 1px solid #999;
}

.form-block{
  max-width: 300px;
}

.form-block input {
  border: 1px solid #999 !important;
  padding: 8px 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.form-block button {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: none !important;
  background-color: #43aefc;
  color: #fff;
}

.form-block p {
  color: #999;
  margin: 5px 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.form-block p:before {
  content: " ";
  width: 100%;
  background-color: #999;
  display: block;
  height: 0.6px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.form-block p span {
  background-color: white;
  padding: 0 5px;
  z-index: 2;
  position: relative;
}

.form-block input::placeholder {
  color: #999;
}

.card-top {
  display: flex;
}

.card-top  {
  padding: 10px 20px;
}

.card-footer {
  display: flex;
  border-top: 1px solid #999;
}

.card-footer>div {
  width: 100%;
}

.card-footer>div:first-child {
  border-right: 1px solid #999;
}

.goBack-btn {
  border: none !important;
  background: unset !important;  
  padding-left: 0;
}

.card-body {
  text-align: center;
}

.card-footer-item {
  display: flex;
  padding: 0 30px;
}

.card-footer-item p {
  margin-left: 5px;
  font-weight: 600;
  line-height: 16px;
}

.card-footer-item p span {
  font-size: 12px;
  font-weight: 500;
}

.card-body h2 {
  font-size: 40px;
  margin: 0;
}

.card-body p {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.error{
  background-color: #ffe491;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #8d0000;
    font-size: 14px;
}

img.weathericon {
  background-color: #eab848;
  border-radius: 100%;
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00467889;
  z-index: 4;
}

.loading {
  display: flex;
}

.loading:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Define the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the fade-in animation to an element */
.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}
